<!DOCTYPE html>
<html lang="en">
<head>
  <title>Word Tree Example</title>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  
</head>
<body>
  <h1>Upload a Text File</h1>
  <form method="POST" action="{{ url_for('process_file') }}" enctype="multipart/form-data">
    <input type="file" id="file-input" name="file">
    <button type="submit">Upload</button>
  </form>
  <p>Content</p>
  <p type="text" id="inputText">{{ input_str }}</p>
  <select id="wordSelect">
    {% for word in words%}
      <option value="{{ word }}">{{ word }}</option>
    {% endfor %}
  </select>
  <p>Word Tree</p>
  <script type="text/javascript" src="/static/js/main.js"></script>
  <div id="wordtree_double"></div>
</body>
</html>
